
@{
    ViewBag.Title = "Tarefa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary class">
    <div class="panel-heading">Tarefas</div>
    <div class="panel-body">Grid de Tarefas.</div>
</div>


