<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="panel panel-danger">
        <div class="panel-heading">Error.</div>
        <div class="panel-body">Ocorreu um erro inexperado. Tente novamente mais tarde.</div>
    </div>
</body>
</html>
